@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

:root {
    --bodybg: #d1d1d1;
    --top-header-bg: #500094;
    --gray: gray;
    --white: white;
    --font: #66fcf1;
    --nav-bg: #0c0f14;
    --dec-color: #ff6700;
    --slider-bg: #354343;
    --product-bg: #d9d4d4;
    --contact-us-bg: #0f373c;
}
body {
    background-color: var(--bodybg);
    height: 100vh;
}


/* Nav Bar Sticky */
.upperhead-and-nav-bar{
    position: fixed;
    width: 100%;
    z-index: 1;
}


/* Top header Css */

#top-header {
    background-color: var(--top-header-bg);
    height: 45px;
    line-height: 45px;
    display: flex;
}

.row{
    display: flex;
    color: var(--white);
}

.top-header-location-padding{
    width: 200px;
}

.top-header-text {
    font-weight: 500;
}

a {
    text-decoration: none;
}

#top-header .top-header-social-icon a {
    border: 2px solid var(--white);
    color: var(--white);
    margin: 0 10px;
    padding: 5px;
    line-height: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    transition: 1s;
}

#top-header .top-header-social-icon a:hover{
    border: 2px solid var(--top-header-bg);
    color: var(--top-header-bg);
    background-color: var(--white);
}

.number-padding{
    padding-left: 0;
    width: 165px;
}

/* Top Header Ends Here */



/* Nav Css Starts From Here */

#header-navbar{
    background-color: var(--white);
    height: 64px;
}

.navbar{
    padding: 0;
    cursor: default;
}

.nav-title{
    color: var(--top-header-bg);
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-size: 30px;
}

.nav-title:hover{
    color: var(--top-header-bg);
}

.nav-buttons{
    padding: 0 105px;
    margin: 0;
}

.nav-item{
    padding: 0;
    margin: 0;
    padding-bottom: 0px;
}

#header-navbar .navbar .container .nav-buttons a{
    padding: 15px 25px;
}

.nav-link{
    /* border: 1px solid var(--nav-border); */
    color: var(--top-header-bg);
    font-size: 20px;
    font-weight: bold;
    transition: 0.8s;
    height: 65px;
    padding: 15px 30px;

}

.nav-link:hover{
    color: var(--white);
    background-color: var(--top-header-bg);
    font-weight: 600;
    border-bottom: 5px solid var(--dec-color);
}

#top-header-navbar .container .home{
    background-color: var(--top-header-bg);
    border-bottom: 5px solid var(--dec-color);
    color: var(--white);
}

/* Nav Bar Ends Here  */


/* Slider Css starts here */

#slider{
    background-color: var(--slider-bg);
    height: 83vh;
}

#slider .container #carouselExampleCaptions{
    height: 83vh;
}

#slider .container #carouselExampleCaptions .carousel-inner .slider-button .carousel-control-prev{
    width: 55px;
}

#slider .container #carouselExampleCaptions .carousel-inner .slider-button .carousel-control-prev-icon{
    height: 50px;
    width: 50px;
    outline: black;
    /* background-color: rgba(0, 0, 0, 0.3); */
}

#slider .container #carouselExampleCaptions .carousel-inner .slider-button .carousel-control-next-icon{
    height: 50px;
    width: 50px;
}

#slider .container #carouselExampleCaptions .carousel-inner .slider-button .carousel-control-next{
    width: 55px;
}

#slider .container .carousel-inner .row .col-md-4{
    padding-left: 150px;
}

#slider .container .carousel-inner .slider-center{
    text-align: justify;
}

#slider .container .carousel-inner .slider-center .slider-content{
    /* background-color: #66fcf1; */
    height: 240px;
    width: 400px;
    left: 25px;
    margin: 150px 0px;
}

#slider .container .carousel-inner .carousel-item .row .col-md-4{
    width: 455px;
}

#slider .container .carousel-inner .carousel-item .row .col-md-4 .slider-content .slider-image .sliders{
    height: 240px;
    width: 450px;
    margin: 85px 0;
}

#slider .container .carousel-inner .carousel-item .row .col-md-4 .slider-content .slider-image .sliders3{
    height: 233px;
    width: 407px;
    margin: 85px 0;
}

#slider .container .carousel-inner .slider-center .slider-image{
    width: 440px;
    padding-top: 55px;
}

#slider .container .carousel-inner .slider-center .slider-content h1 span{
    color: var(--dec-color);
}

#slider .container .carousel-inner .slider-center .slider-content p{
    color: var(--white);
    opacity: 0.8;
    text-align: justify;
}

#slider .container .carousel-inner .slider-center .slider-content .button a{
    background-color: var(--dec-color);
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
}

#slider .container .carousel-inner .slider-center .slider-content .button a:hover{
    background-color: var(--top-header-bg);
    color: var(--white);
}

/* Slider Css ends here */

/* About Css Starts Here */
#about{
    background-color: #747272;
    height: 95vh;
}

#about .container .row{
    text-align: center;
}
 
#about .container .row .section-title h6{
    color: var(--dec-color);
    font-size: 25px;
    margin: 15px 0;
}

#about .container .row .section-title h2{
    font-size: 28px;
    margin: 25px 0;
}

#about .container .row .section-title h2 span{
    color: var(--dec-color);
}

#about .container .row .about-image{
    height: 80vh;
    width: 600px;
}

#about .container .row .about-image .about-wala-image{
    height: 464px;
    width: 528px;
}


.about-button{
    background-color: var(--dec-color);
    color: var(--white); 
}

.about-button:hover{
    background-color: var(--white);
    color: var(--dec-color);
}


@media only screen and (max-width: 600px) {
    
    #about{
        min-height: 110vh;
    }

    #slider{
        height: 418px;
    }

    .carousel-indicators{
        bottom: 34%;
    }

    .slide{
        height: 210px;
    }

    #slider .container .carousel-inner .row .col-md-4{
        height: 350px;
        padding: 0;
        margin: 0;
        padding-left: 22px;
    }

    #slider .container .carousel-inner .slider-center .slider-content{
        padding: 0;
        margin: 0;
        padding-top: 102px;
    }

    .sm-hide{
        display: none;
    }
    
    .slider-image{
        display: none;
    }

    #about .container .row .about-image{
        width: 100%;
        height: 235px;
    }

    #about .container .row .about-image .about-wala-image{
        width: 100%;
        height: 220px;
    }

}

/* About Css Ends Here */

/* Our Services Css Starts Here */

#services{
    min-height: 5vh;
    padding-left: 165px;
}

#services .container .row .service-box{
    height: 45px;
    width: 33%;
    /* border: 1px solid gray; */
    margin: 10px 0;
}

#services .container .row .service-box span{
    text-align: center;
    display: block;
    height: 40px;
    width: 215px;
    border: 1px solid gray;
    padding-top: 9px;
    border-radius: 25px;
    background-color: var(--slider-bg);
    cursor: pointer;
}

#services .container .row .service-box span:hover{
    background-color: var(--dec-color);
    color: var(--white);
    border: none;
    box-shadow: 1px 1px 5px var(--nav-bg);
}
/* Our Services Css Ends Here */

/* Products Css Starts Here */

#product{
    min-height: 80vh;
}

#product .top-sale{
    padding-left: 47px;
}

#product .top-sale h4{
    background-color: var(--dec-color);
    width: 160px;
    margin: 20px 0;
    color: var(--white);
    text-align: center;
}

.col-md-3{
    display: flex;
}

#product .product-box-padding{
    display: flex;
    width: 100%;
}

#product .product-box{
    height: 330px;
    width: 215px;
    box-shadow: 1px 1px 15px #917f7f;
    margin: 0 45px;

}

#product .product-box .product-image{
    height: 170px;
    width: 100%;
    background-color: var(--product-bg);
    text-align: center;
    
}

#product .product-box .product-image:hover{
    opacity: 0.7;
}

#product .product-box .product-image .product-main-image{
    padding-top: 25px;
}


#product .product-box .product-image img{
    height: 150px;
    width: 100%;
    padding-bottom: 25px;
}

#product .product-box .product-details{
    padding-left: 6px;
    padding-top: 10px;
    cursor: default;
}

#product .product-box .product-name .product-name-title{
    color: #000;
    font-size: 18px;
    cursor: pointer;
}

#product .product-box .product-name .product-price{
    font-size: 17px;
    /* color: var(--dec-color); */
    font-weight: 600;
    padding-left: 29px;
}

#product .product-box .product-description{
    font-size: 14px;
}

#product .product-box .product-rating .rating{
    color: var(--dec-color);
}

#product .product-box .product-rating .rating-in-percent{
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
}

#product .product-box .product-details .product-add-to-cart{
    display: block;
    text-align: center;
    padding-top: 18px;
}

#product .product-box .product-details .product-add-to-cart span{
    height: 38px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 19px;
}

#product .product-box .product-details .product-add-to-cart span:hover{
    background-color: var(--dec-color);
    color: var(--white);
}

@media only screen and (max-width: 600px){
    .top-sale{
        padding-left: 123px;
    }

    #product .product-box-padding{
        display: block;
        width: 100%;
        padding: 0;
    }

    #product .product-box{
        width: 100%;
        margin: 15px 0;
    }

    .col-md-3{
        display: block;
    }

    .product-box-padding{
        padding-left: 45px;
        
    }

    #services .container .row{
        display: block;
        padding-left: 95px;
    }

    #product .product-box .product-image{
        width: 100%;
        padding-left: 70px;
    }

    #product .product-box .product-main-image{
        width: 75%;
    }

    #product .product-box .product-image img{
        width: auto;
    }

    #product .top-sale{
        padding: 0;
    }
    

}
/* Products Css Ends Here */
